div#about
   p Hire Ho was established in 1731 with the intention to provide an avenue for dwarves who
   | are currently out of work some freelance work. Dwarves submit their resume as well as some
   | references in order to be added into the database of workers. From here, clients can
   | browse through the database to find some workers for their specific job. Whether it be
   | cleaning, mining, or even painting, these dwarves are excited to work for you. The jobs
   | last anywhere from a couple hours to a few months. If you have a job that you want to hire
   | help for, give Hire Ho a try.