div#homepage
   p Hire Ho -- the primer freelancing agency for dwarves. Hire help for your mine, party, or
   | household chores you don't feel like doing, our dwarves will be there with a smile on
   | their face. <br>
   | "I just love Hire Ho!! The workers I recieved from them were of such a higher standard
   | than 'Data Mining'. I'm glad I switched and am never going to look back."
   | - Legolas <br>
   | "The dwarves were very professional and prompt. Excellent service, would recommend."
   | - Gandalf the White <br> <br>
   | New users now get 10% discount. Hurry, offer won't last!