div#inventory
   each dwarf in dwarves
      div.dwarf(onclick="getDwarfProfile('" + dwarf.name + "')")
         div.headshot
            img(src=dwarf.headshotSrc)
         div.info
            p Name: #{dwarf.name}
            p Skills: #{dwarf.skills}