doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='js/jquery/jquery-2.1.1.min.js', type='text/javascript')
        script(src='js/clientCode.js', type='text/javascript')
    body
        div#header
            include header.jade
        div#center
            div#navigation
                include navigation.jade
            div#content
                block content
        div#footer
            include footer.jade