div#nav.navigation
    div#home
        a(href='/home') Home
    div#about
        a(href='/about') About
    div#inventory
        a(href='/inventory') Inventory
    div#staff
        a(href='/staff') Staff
    div#jobs
        a(href='/jobs') Jobs
